Package: voxl-streamer
Version: 0.2.2
Section: base
Priority: optional
Architecture: armv7a
Depends: libmodal_pipe,libmodal_json
Maintainer: modalai.com
Description: Gstreamer-based application to handle RTSP streaming
